@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #dddddd;
    background: linear-gradient(to right, #dddddd 0%, #b0b0b0 100%);
}

/*****************header***************************/
.navigation-brand {
    display: flex;
    justify-content: center;
    width: 12%;
    margin: 3vmax auto;
}

.brand-logo {
    width: 100%;
}

.navigation-bar {
    display: flex;
    justify-content: center;
}

.navigation-links {
    color: black;
    margin-left: 2rem;
}

.navigation-links:hover {
    color: black;
    font-weight:bold;
    border-top: red 2px solid;
}

.menu {
    width: 50px;
    margin: 100% auto;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 5px;
    background: black;
    margin: 6px 0;
    border-radius:10px;
    transition: 0.4s;
}

.change .one {
    -webkit-transform: rotate(-45deg) translate(-9px,6px);
    transform: rotate(-45deg) translate(-9px,6px);
}

.change .two {
    opacity: 0;
    margin-left: 20px;
    transition: 1s;
}

.change .three {
    -webkit-transform: rotate(45deg) translate(-8px,-8px);
    transform: rotate(45deg) translate(-8px,-8px);
}

.menu-icon {
    width: 2rem;
}

.active-page {
    font-weight: bold;
    border-top: red 2px solid;
}
/*****************body********************************/
.heading {
    font-size: 5vmax;
}

.sub-heading {
    font-size: 3vmax;
}
.content-heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

.find-heading {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
}

.slide {
    width: 60%;
    margin: auto;
    padding: 2% 0;
}

@media screen and (max-width: 450px) {
    .slide {
        width: 90%;
        margin: auto;
        padding: 2% 0;
    }
    
    .navigation-brand {
        display: flex;
        justify-content: center;
        width: 40%;
        margin: 3vmax auto;
    }

    .rights {
        font-size: x-small;
    }

    


}



.artists {
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-flow:wrap;
    justify-content: center;

}

.heart {
    width: 2%;
}

.men-title {
    color:white;
    display: flex;
    justify-content: center;
}

.men-links {
    color: black;
    filter:grayscale(90%);
}

.men-links:hover {
    color:black;
    filter:unset;
}

/********************footer****************/
.social-container {
    display: flex;
    justify-content: center;
}


.social-icon {
    width: 3vmax;
    margin: 3rem 1rem;
}

.copy-rights {
    margin: 0;
    display: flex;
    justify-content: center;
}


/********About********/
section h1:nth-child(1) {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
}

.about-us {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.about-info {
    width: 50%;

}

.about-info div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-border {
    margin: 0;
    padding: 0;
    border-bottom: 2px black dashed;
}



.about-img {
    width: 20%;
    margin: 1rem;
}

.about-model {
    width: 70%;
}

@media screen and (min-width: 1080px) {
    .about-model {
        width: 60%;
    }
}


@media screen and (max-width: 380px) {
    .about-us {
        width: 50%;
        height: 40vh;
        justify-content: center;
        align-items: center;
    }

    .about-info div {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/************form**************/
input,textarea, .selectable {
    background-color: transparent;
    border: 0.3px lightslategray solid;
    color: lightslategray;
}

/***********Form******************/
.form {
    display: flex;
    width: 70%;
    margin: auto;
    background-color: #F7F7F7;
}

.form-input-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto 5px;
}

.radio {
    display: flex;
    flex-direction: row;
    margin: 5px 3%;
}

.radio input {
    margin: 5px 2vmin;
}

.right-form {
    display: flex;
    flex-direction: column;
}

.submit {
    background-color: #dddddd;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 20%;
    color: white;
    background-color: RGBA(255,0,0, 70%);
}

    

    

@media screen and (max-width:800px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:80%;
        margin: auto;
        
    }

    .form-input-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto 5px;
    }


}


/******team*************/

.team-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-box {
    display: flex;
    flex-direction: column;
}

.card {
    width: 250px;
    height: 350px;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-image .player-image {
    width: 100%;
    border: 5px solid red;
    border-radius: 50%;
    position: absolute;
}


.card-content  {
    position: absolute;
    transition: 0.4s ease-in-out;
    top:0rem;
    padding-top: 17rem;

}

.card-content:hover {
    position: absolute;
    top: -17rem;
    opacity: 1;
}

.card-content:hover p{
    opacity: 1;
}

.card-content h3 {
    display: flex;
    justify-content: center;
    height: 6rem;
    background: #F7F7F7;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.card-content p {
    background: #F7F7F7;
    padding: 0 10px;
    opacity: 0;
    transition: 0.4s ease-in-out;
    font-size: small;
    height: 16rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-name {
    font-size: large;
}

.player-role {
    font-size: small;
}

.player-contact {
    display: flex;
    width: 80%;
    margin: auto;

}

.player-contact a {
    margin: 10px;
}

.player-contact img {
    width: 100%;
}


/***more************/
.more-page {
    width: 65%;
    margin: auto;
}

.more-image {
    width: 40%;
    margin: auto;
    
}

.more-image img {
    width: 100%;
}

.more-about {
    display: flex;
    justify-content: center;
    background: #F7F7F7;
    margin: 10px auto;
}


.more-about a {
    text-decoration: none;
}


/*service*/
.first-service {
    height: 30vmax;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.second-service {
    width: 90%;
    margin: auto;
}

.third-service {
    width: 90%;
    margin: auto;
}

/*****Model page*/
.model-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#gallery {
    height: unset!important;
}

@media screen and (max-width: 790px) {
    #gallery {
        height: 100rem !important;
    }
}

@media screen and (max-width: 470px) {
    #gallery {
        height: 280rem !important;
    }
}